*:not(h1,h3){
  margin: 0;
  padding: 0;
}

div.upgraded {
  background-color: rgb(252, 189, 246);
}

div#Home {
  background-image: url("desktop.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  overflow: hidden;
}

div#About.upgraded {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  padding: 30px;
  background-image: linear-gradient(rgba(247,167,255,255), rgb(252, 139, 233));
}

div#About h1, h3 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

div#About h1 {
  font-size: 4rem;
  text-align: center;
}

div#About h3 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  font-size: 1.25rem;
}

div#About img {
  height: 100%;
}

#Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Button #text {
  color: red;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.upgrade {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:60px;
	padding:21px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  width: auto;
  height: auto;
  margin-bottom: 5rem;
}

.upgrade:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}

.upgrade:active {
	position:relative;
	top:1px;
}

#Ribbon.upgraded {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(32, 43, 44);
  padding: 10px;
  z-index: 5;
}

#Ribbon.upgraded a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  transition: .3s;
}

#Ribbon a:hover {
  text-decoration: underline;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 15rem;
    width: 50%;
    height: auto;
    background: #15001f;
    border: 1px solid #c042ff;
    font-size: 20px;
    font-family: monospace;
    transform: scale(1.5);
  }

  .cppcode {
    background: #15001f;
    padding: 10px;
  }

  code {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .titlebar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 450;
    background-color: #2e0043;
    width: 100%;
    text-align: right;
  }
  
  .buttons button {
    width: 40px;
    height: 35px;
    margin-left: -5px;
    border: 0;
    outline: 0;
    background: transparent;
    transition: 0.2s;
  }
  
  .buttons i {
    color: #ffffff;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  
  .close:hover {
    background-color: #c042ff2e;
  }
  
  .maximize:hover {
    background-color: #c042ff2e;
  }
  
  .minimize:hover {
    background-color: #c042ff2e;
  }
  
  #pre {
    width: 100%;
    height: auto;
    color: #bafff8;
  }

  .curlies {
    color: #ff0000;
  }
  
  .sc {
    color: #e600ff;
  }
  
  .rounds {
    color: #ffffff;
  }
  
  .operator {
    color: #ffff00;
  }
  
  .s1 {
    color: #22ff00;
    font-size: 30px;
  }
  
  .s2 {
    color: #4281ff;
  }
  
  .s3 {
    color: #ff4284;
  }
  
  .s4 {
    color: #ffae00;
  }
  
  .s5 {
    color: #ffffff;
  }
  
  .s6 {
    color: #ffff00;
  }

  .typed-cursor {
    font-size: 30px;
  }

  #horizontal-message {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    background-color: rgb(68, 68, 68); 
    color: white; 
    padding: 10px;
    text-align: center;
    z-index: 11;
    word-wrap: break-word;
    height: 100%;
    font-size: 4rem;
  }

  @media (max-width: 767px) and (orientation: portrait) {
    #horizontal-message {
      display: block;
    }

    div#About .wrapper {
      display: block;
    }
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
    #horizontal-message {
      display: none;
    }

    div#About .wrapper {
      display: block;
    }
  }

  @media (min-width: 768px) {
    #horizontal-message {
      display: none;
    }

    div#About .wrapper {
      display: flex;
    }
  }

  div#Projects {
    margin-top: -10px;
    padding-top: 30px;
  }

  div#Projects.upgraded .text-center.display-4 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 4rem;
  }

  div#Projects.upgraded i {
    color: #15001f;
    font-size: 3rem; 
  }

  div#Projects.upgraded {
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 100px;
    background-color: rgb(252, 139, 233);
  }

  div#Projects h3 {
    padding-bottom: 10px;
    font-weight: bold;
  }

  div#Projects h4 {
    color: #15001f;
    font-size: 2rem; 
  }

  div#Projects span {
    color: #15001f;
    font-size: 1.25rem; 
  }

  .carousel-item .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  div#Projects.upgraded .carousel-item {
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
  }

  div#Projects.upgraded a.carousel-control-prev:hover {
    transform: translateX(-10px);
    transition: transform 0.2s ease-in-out;
  }

  div#Projects.upgraded a.carousel-control-next:hover {
    transform: translateX(10px);
    transition: transform 0.2s ease-in-out;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: rgb(32, 43, 44);;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b167c5;
    border-radius: 10px;
    border: 3px solid rgb(32, 43, 44);;
  }

  /* .slideshow {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
  }

  .slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slideshow .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    font-size: 24px;
    background-color: rgba(110, 110, 110, 0.75);
  }

  .slideshow.upgraded .text {
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  } 

  .slideshow .prev,
  .slideshow .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ff0000;
    font-size: 5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slideshow.upgraded button {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  
  .slideshow.upgraded button i {
    transition: transform 0.2s ease-in-out;
  }

  .slideshow.upgraded .prev i:hover {
    transform: translateX(-10px);
  }

  .slideshow.upgraded .next i:hover {
    transform: translateX(10px);
  }

  .slideshow .prev {
    left: 5%;
  }

  .slideshow .next {
    right: 5%;
  }

  div#Projects.upgraded button i {
    color: #e100ff;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .fade-in.show {
    opacity: 1;
  } */

  

  