div {
    margin-bottom: 50px;
}

div#Home {
  background-image: url("desktop.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Button #text {
  color: red;
}

.upgrade {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:25px;
	padding:21px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
  width: auto;
  height: auto;
}
.upgrade:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.upgrade:active {
	position:relative;
	top:1px;
}

#Ribbon.upgraded {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(32, 43, 44);
  padding: 10px;
  z-index: 5;
}

#Ribbon.upgraded a {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
  transition: .3s;
}

#Ribbon a:hover {
  text-decoration: underline;
}

.card {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 50%;
    height: 30%;
    background: #15001f;
    border: 1px solid #c042ff;
    font-size: 20px;
    font-family: monospace;
    transform: scale(1.5);
  }

  code {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  .titlebar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    font-weight: 450;
    background-color: #2e0043;
    width: 100%;
    text-align: right;
  }
  
  button {
    width: 40px;
    height: 35px;
    margin-left: -5px;
    border: 0;
    outline: 0;
    background: transparent;
    transition: 0.2s;
  }
  
  .buttons i {
    color: #ffffff;
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  
  .close:hover {
    background-color: #c042ff2e;
  }
  
  .maximize:hover {
    background-color: #c042ff2e;
  }
  
  .minimize:hover {
    background-color: #c042ff2e;
  }
  
  #pre {
    width: 100%;
    padding: 10px;
    height: auto;
    color: #bafff8;
  }

  .curlies {
    color: #ff0000;
  }
  
  .sc {
    color: #e600ff;
  }
  
  .rounds {
    color: #ffffff;
  }
  
  .operator {
    color: #ffff00;
  }
  
  .s1 {
    color: #22ff00;
    font-size: 30px;
  }
  
  .s2 {
    color: #4281ff;
  }
  
  .s3 {
    color: #ff4284;
  }
  
  .s4 {
    color: #ffae00;
  }
  
  .s5 {
    color: #ffffff;
  }
  
  .s6 {
    color: #ffff00;
  }

  .typed-cursor {
    font-size: 30px;
  }

  @media (max-width: 767px) and (orientation: portrait) {
    #horizontal-message {
      display: block;
      font-size: 5rem;
      color: red;
      font-family:Verdana;
    }
  }
  
  @media (max-width: 767px) and (orientation: landscape) {
    #horizontal-message {
      display: none;
    }
  }

  @media (min-width: 768px) {
    #horizontal-message {
      display: none;
    }
  }